<%
// 以下の設定値を記入のこと

const pageinit = {
ttl : 'CREATEs Presents TGC KITAKYUSHU 2024 by TOKYO GIRLS COLLECTEION' ,
keywords : '' ,
description : '昨年大盛況のうちに幕を閉じたクレイツ スペシャルステージヘアショー出演権をかけた モデルオーディションを2024年も開催！' ,
ogurl : 'https://createsnet.jp/tgckitakyushu/' ,
path: '',
ogimage : './img/ogp.jpg' ,
category : ['top'] ,
pagename : '',
css: [],
js:[]
};
%> 
  
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="canonical" href="<%= pageinit.ogurl %>">

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.3/picturefill.min.js"></script>

<meta name="description" content="<%= pageinit.description %>"/>

<meta property="og:url" content="<%= pageinit.ogurl %>"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="<%= pageinit.ttl %>"/>
<meta property="og:description" content="<%= pageinit.description %>"/>
<meta property="og:site_name" content="<%= pageinit.ttl %>"/>
<meta property="og:image" content="<%= pageinit.ogimage %>"/>

<!-- favicon -->
<link rel="icon" href="./img/favicon.ico" sizes="any">
<!-- <link rel="icon" href="./img/favicons/icon.svg"  type="image/svg+xml">
<link rel="apple-touch-icon" href="./img/favicons/apple-touch-icon.png">
<link rel="manifest" href="./img/favicons/manifest.webmanifest"> -->



<!-- swiper -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<!-- swiper -->
<script src="./js/modernizr-custom.js"></script>

<link rel="stylesheet" href="./css/style0708.css">

<!-- GA4 -->
<!-- Google tag (gtag.js) -->

<title><%= pageinit.ttl %></title>


</head>


<body id="top">
  <div class="pccontents" id="">
    <div class="pccontents__inner">

      <div class="pccontents__in">
        <a href="https://lin.ee/slyGrEO" target="_blank" class="pccontents__line">応募はこちら</a>

      </div>
    </div>
    <section class="spcon">
      <main class="main">
        <%- include('./module/fv'); %>
        <%- include('./module/news'); %>
        <%- include('./module/main'); %>
        <%- include('./module/buy'); %>
        <%- include('./module/creates'); %>
        <!-- <p class="copy"><small>©CREATEs presents TGC 北九州 2023</small></p> -->

      </main>

</section>

</div>

<script src="./js/main.js"></script>

</body>
</html>







    

  
